.venv/
__pycache__/
# Editors/OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Python
*.pyc
*.pyo
*.pyd

# Project artifacts
results/
saved_models/
simple_data/
logs/

# Jupyter
.ipynb_checkpoints/

# Other
*.log
